ul#primary-menu {
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: black;
}

li.nav-menu {
    float:left;
    border-right: none;
}

li.nav-menu a{
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.nav-menu a:hover{
    background-color: green;
    text-decoration: none;
    color: white;
    
}

.active {
    background-color:green;
}

footer {
    background-color: black;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    position: relative;
}

footer p {
    color: white;
    margin-right: 0;
    font-size: x-small;
}

img.index-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border: 1px solid grey;
    
}

img.donation-img {
    margin-left: 5%;
    height: 50px;
    width: auto;
}

h3 {
    margin-left: 5%;
}

h5 {
    margin-left: 5%;
}

p {
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    color: black;
    text-align: justify;

}

.text-image{
    text-align: center;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}

li.lists {
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
}

p em {
    font-style: italic;
}

div.logo {
    margin-left: 5%;
    
}

html {
    min-height: 100%;
}

li#menu-3 {
    float: right;
}

form {
    margin-left: 5%;
}

div#calculadora-compra{
    display:flex;
}

div#calculadora{
    flex: 0 0 65;
    margin-left: 5%;
}

div#resultados{
    flex:1;
}